export(acss)
export(alternations)
export(change_complexity)
export(count_class)
export(entropy)
export(entropy2)
export(local_complexity)
export(normalize)
export(prob_random)
importFrom(zoo,rollapply)
